//colors
$clr-primary-grey: rgba(17, 17, 17, 0.48);
$clr-light-grey: rgba(250, 250, 250, 1);
$clr-primary-black: rgba(17, 17, 17, 1);
$clr-primary-white: rgba(255, 255, 255, 1);
$clr-primary-blue: rgba(1, 167, 253, 1);
$clr-smoky-white: rgba(241, 241, 241, 1);
$clr-grey: #e8e8e8;
$clr-white: #ffffff;
$clr-red: #ff0000;

//media queries
$tablet: 767px;
