//colors
$clr-white: rgba(255, 255, 255, 1);
$clr-purple: rgba(101, 110, 194, 1);
$clr-grey: rgba(100, 100, 111, 0.2);
$clr-light-grey: rgba(118, 118, 118, 1);
$clr-dark-grey: rgba(40, 38, 38, 1);

//media queries
$laptop: 1636px;
$tablet: 666px;
